

/*.empty-scene {
    width:100vw;
    height: 100vh;
    padding:0 ;
    margin:  0;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    position : relative;;
    background: red;
    overflow : hidden;
}*/

.visual-collection {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.main-container {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;

}
