.index-layout {
    position:relative;
    width: 100vw;
    height: 100vh;
    overflow-x:hidden;
}

/**-------------------------------------- 600px -------------------------------------- **/
@media (max-width: 600px) {
    .index-layout {
        overflow-x:auto;
    }


}