.nav-icon {
   cursor: pointer;
   border-radius: 50%;
   background: rgb(80, 80, 80);
   margin: 0 10px;
}

.nav-icon:hover {
   filter: brightness(120%);

}

.fa {
  display: inline-block;
  border-radius: 60px;
  padding: 0.5em 0.6em;
  cursor: pointer;

}

.navbar {
  background: transparent!important;
}