.visualization-container {
    background: #46648c;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    position:relative;
    border-radius : 10px;
}

.visualization {
    overflow : hidden;
}

.collapse {
}

.notif-badge {
    margin: 0 10px 0 0;

}

.notif-body{
    height: 150px;
    overflow: auto;
    white-space: pre;
}

.option-wrapper {
    width: 100%;
    bottom: 0;
    transition: height 0.5s;
    background:#46648c;
    position:absolute;
    z-index: 99
}